%h4 Operações Taxweb

.isotope
  - Instance.all.each do |instance|
    .element-item
      = render instance

:javascript
  $(document).ready( function() {
    // init Isotope
    var $container = $('.isotope').isotope({
        itemSelector: '.element-item',
        layoutMode: 'fitRows',
        getSortData: {name: '.name'}
        });
  });
