// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.instance_board {
  padding: 10px;
  margin: 10px;
  border-color: black;
  border: solid;
  border-radius: 12px;
  border-width: 2px;
  max-width: 400px;
  background-color: white;
}

.instance_board td th {
  padding: 2px 5px;
  margin: 0px;
}
